services:
  backend:
    build:
      context:
        ./backend
    ports:
      - "8080:8080"
    depends_on:
     - db
     - rabbitmq
    restart: unless-stopped
    environment:
      OPEN_ROUTER:  "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"
      SECRET_KEY: "Slava_Krutoi"

  db:
    image: postgres:17
    environment:
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:4.2.0-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/mnesia
      - rabbitmq_logs:/var/log/rabbitmq
    restart: unless-stopped


  mail:
    build:
      context:
        ./mail
    depends_on:
      - rabbitmq
    restart: unless-stopped

  bot:
    build:
      context: ./bot
    environment:
      BOT_TOKEN: "8503034890:AAEU8jcR9a8mDQ6HZneBfkAIDEbXTbavAMA"
      BACKEND_URL: "http://backend:8080"
    depends_on:
      - backend
    restart: unless-stopped


volumes:
  db_data:
  rabbitmq_data:
  rabbitmq_logs: