services:
  backend:
    build:
      context:
        ./backend
    ports:
      - "8080:8080"
    depends_on:
     - postgres
    restart: unless-stopped
    environment:
      OPEN_ROUTER:  "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"

  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: data
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:9.8
    ports:
      - 5050:80
    environment:
      PGADMIN_DEFAULT_EMAIL: demo@example.com
      PGADMIN_DEFAULT_PASSWORD: password
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
    depends_on:
      - postgres

  bot:
    build:
      context: ./bot
    environment:
      BOT_TOKEN: "8503034890:AAEU8jcR9a8mDQ6HZneBfkAIDEbXTbavAMA"
      BACKEND_URL: "http://backend:8080"
    depends_on:
      - backend
    restart: unless-stopped


volumes:
  db_data:
