services:
  backend:
    build:
      context:
        ./backend
    ports:
      - "8080:8080"
    depends_on:
     - db
    restart: unless-stopped

  db:
    image: postgres:17
    environment:
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql
    restart: unless-stopped

 
volumes:
  db_data:
