services:
  backend:
    build:
      context:
        ./backend
    ports:
      - "8080:8080"
    depends_on:
     - postgres
    restart: unless-stopped
    env_file:
      - .env
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      OPEN_ROUTER: ${OPEN_ROUTER}
      OPEN_ROUTER_MODEL: ${OPEN_ROUTER_MODEL}


  postgres:
    image: postgres:17
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql
    restart: unless-stopped

  # pgadmin:
  #   image: dpage/pgadmin4:9.8
  #   ports:
  #     - 5050:80
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: demo@example.com
  #     PGADMIN_DEFAULT_PASSWORD: password
  #     PGADMIN_CONFIG_SERVER_MODE: 'False'
  #     PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
  #   depends_on:
  #     - postgres

  bot:
    build:
      context: ./bot
    env_file:
      - .env
    environment:
      BOT_TOKEN: ${BOT_TOKEN}
      BACKEND_URL: ${BACKEND_URL}
    depends_on:
      - backend
    restart: unless-stopped


volumes:
  db_data:
